@media (hover: hover) {
  .slider-button.active:hover {
    background: gold;
    opacity: 0.8;
    cursor: pointer !important;
  }
  .social-icon-container:hover {
    background-color: #e9ecef; /* Темнее серый фон при наведении */
    transform: scale(1.1); /* Масштабируем div при наведении */
  }

  .social-icon:hover i {
    color: #ff6f61; /* Яркий цвет иконки при наведении (можно изменить) */
  }
}

.text-balance {
  text-wrap: balance;
}

.link-no-underline {
  text-decoration: none;
}

@media (max-width: 991px) {
  .menu-links {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .btn-custom-users {
    width: 90%;
    height: 40px;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
  .navbario_mobile {
    padding-top: 10px;
    padding-bottom: 5px;
    grid-gap: 25px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .btn-custom-users {
    width: 75%;
    height: 40px;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
  .navbario_mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    grid-gap: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1401px) {
  .btn-custom-users {
    width: 33%;
  }
}

@media (min-width: 426px) and (max-width: 991px) {
  .btn-custom-users {
    width: 45%;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
  .navbario_mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    grid-gap: 25px;
  }
}

@media (max-width: 575px) {
  .slider {
    width: 100%;
    height: 350px;
  }
  .slider-text {
    top: 20% !important;
    text-align: center !important;
    left: 50% !important;
    margin-top: 10px;
    margin-right: 40px;
  }
  .slider-button {
    left: 50% !important;
  }
  .this-is-1 {
    width: 300px !important;
    height: 150px !important;
    top: 40%;
  }
  .this-is-2 {
    width: 300px;
    height: 100px;
    bottom: 10%;
  }
  .slider-button {
    top: 85% !important;
  }
}

@media (min-width: 576px) {
  .slider {
    width: 100%;
    height: 500px;
  }
  .slider-text {
    line-height: 2;
    margin-top: 30px;
  }
  .this-is-1 {
    width: 25% !important;
    height: 60% !important;
    left: 10%;
  }
  .this-is-2 {
    width: 500px !important;
    left: 30%;
  }
  .this-is-3 {
    width: 400px !important;
    height: 90% !important;
    left: 20%;
    top: 5%;
  }
}

@media (min-width: 1024px) {
  .slider-text {
    line-height: 5;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .this-is-1 {
    width: 300px !important;
    left: 5%;
  }
}
.slider {
  position: relative;
  overflow: hidden;
  border: solid 2px;
  border-radius: 20px;
}

.slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.slider-img.active {
  opacity: 1;
}

.slider-controlls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-text {
  position: absolute;
  text-align: end;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}

.slider-text.active {
  opacity: 1;
}

.slider-button {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.slider-button.active {
  opacity: 1;
  z-index: 2;
  background: gold;
}

.slider .prev {
  width: 3rem;
  left: 10px;
}

.slider .prev:hover {
  opacity: 0.7;
  cursor: pointer;
}
.slider .next {
  width: 3rem;
  right: 10px;
}

.slider .next:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-item {
  margin-bottom: 1rem;
}

.social-icon-container {
  display: flex; /* Создаем гибкую верстку */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  height: 80px; /* Устанавливаем высоту div */
  border-radius: 50%; /* Создаем круглый фон */
  background-color: #f8f9fa; /* Светло-серый фон */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Добавляем плавные переходы */
  cursor: pointer; /* Изменяем курсор на указатель */
}

.social-icon {
  color: inherit; /* Наследуем цвет от родителя */
  text-decoration: none; /* Убираем подчеркивание ссылки */
  display: flex; /* Создаем гибкую верстку для иконки */
  justify-content: center; /* Центрируем иконку по горизонтали */
  align-items: center; /* Центрируем иконку по вертикали */
  width: 100%; /* Иконка занимает всю ширину div */
  height: 100%; /* Иконка занимает всю высоту div */
}

.social-icon i {
  font-size: 2rem; /* Размер иконки */
  color: #333; /* Цвет иконки */
  transition: color 0.3s ease; /* Плавный переход цвета */
}

.social-icon:hover .fa-youtube {
  color: #ff6f61;
}

.social-icon:hover .fa-vk {
  color: #006eff;
}

.social-icon:hover .fa-telegram {
  color: #0088cc;
}
