<footer class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-lg-4 col-sm-12 col-md-12">
            <a href="https://electropribor.ru/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="ms-2">©ООО "Мой Не Сам" 2025</span>
            </a>
        </div>
        <div class="container col-lg-4 col-sm-12 col-md-12">
            <div class="row justify-content-evenly">
                <!-- ВКонтакте -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center social-icon-container">
                    <a href="https://vk.com/"
                       class="social-icon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Группа во ВКонтакте">
                        <i class="fa-brands fa-vk fa-2x"></i>
                    </a>
                </div>
                <!-- Telegram -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center social-icon-container">
                    <a href="https://web.telegram.org/a/"
                       class="social-icon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Группа в телеграм">
                        <i class="fa-brands fa-telegram fa-2x"></i>
                    </a>
                </div>
                <!-- YouTube -->
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center social-icon-container">
                    <a href="https://www.youtube.com"
                       class="social-icon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       title="Ютуб канал">
                        <i class="fa-brands fa-youtube fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row contact-info text-center mt-3 justify-content-between text-balance">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center align-items-center">
                    <p>
                        <i class="fa-solid fa-envelope me-2"></i>
                        Email: <a href="mailto:yurafriend@mail.ru" class="text-dark fw-bolder">yurafriend@mail.ru</a>
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center align-items-center">
                    <p>
                        <i class="fa-solid fa-phone me-2"></i>
                        Телефон: <a href="tel:+71234567890" class="text-dark fw-bolder">+7 (123) 456-78-90</a>
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center align-items-center">
                    <p>
                        <i class="fa-solid fa-globe me-2"></i><a href="https://electropribor.ru/" class="text-dark fw-bolder">Сайт ООО "БНАЛ"</a>
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center align-items-center my-auto">
                    <p>
                        <i class="fa-solid fa-book me-2"></i><a href="https://electropribor.ru/privacy_policy/"
   class="text-dark fw-bolder">Политика</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
