{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-10 col-md-8 col-lg-6 col-xl-3 border border-2 rounded border-dark mt-2 p-xl-3 p-2">
        <h2 class="text-center">Авторизация</h2>
        <form method="post" class="text-center">
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="form-floating">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% endfor %}
            </div>
            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
            <button class="btn btn-success" type="submit">Авторизоваться</button>
        </form>
    </div>
{% endblock content %}
