{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <div class="container">
        <p class="h2 mt-2">История ваших заявок</p>
        <!-- Список заявок -->
        {% if requests %}
            <div class="row justify-content-evenly pt-3 requests_container">
                {% for request in requests %}
                    <div class="col-lg-5 col-xl-5 col-md-8 col-sm-11 col-11 shadow-sm border border-3 {% if request.status == "cancelled" %} border-danger {% elif request.status == "completed"%} border-success {% elif request.status == "approve" %} border-primary {% else %} border-info {% endif %} rounded-2">
                        <div class="container border-bottom border-2 {% if request.status == "cancelled" %} border-danger {% elif request.status == "completed"%} border-success {% elif request.status == "approve" %} border-primary {% else %} border-info {% endif %} px-auto align-items-center pt-3">
                            <p class="h5 {% if request.status == "cancelled" %} mb-0 {% else %} pb-2 {% endif %}  text-balance">
                                Заявка на {{ request.preferred_datetime }}
                                <br>
                                Статус: {{ request.get_status_display }}
                                {% if request.status == "cancelled" %}
                                    <br>
                                    Причина отмены:
                                    <p class="fw-bolder text-balance text-danger my-0">{{ request.cancellation_reason }}</p>
                                {% endif %}
                            </p>
                        </div>
                        <div class="container row py-2">
                            <strong class="py-1">Адрес:</strong>
                            <p>{{ request.address }}</p>
                            <strong class="py-1">Телефон:</strong>
                            <p>{{ request.phone|format_phone }}</p>
                            <strong class="py-1">Услуга:</strong>
                            <p>
                                {% if request.service_type %}
                                    {{ request.get_service_type_display }}
                                {% else %}
                                    Иная услуга: {{ request.other_service }}
                                {% endif %}
                            </p>
                            <strong class="py-1">Дата и время:</strong>
                            <p>{{ request.preferred_datetime }}</p>
                            <strong class="py-1">Тип оплаты:</strong>
                            <p>{{ request.get_payment_method_display }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>У вас пока нет заявок.</p>
        {% endif %}
        <!-- Ссылка на создание новой заявки -->
        <div class="container text-center mx-auto mt-4">
            <a href="{% url 'clireq:create_request' %}" class="btn btn-outline-dark">Создать новую заявку</a>
        </div>
    </div>
{% endblock content %}
